<div class="user-information col-md-4">
  <h1><%= user.escape("email") %></h1>
</div>

<div class= "user-activity col-md-8">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active" id="annotations">
      <a href="javascript:void(0)">Annotations</a>
    </li>
    <li role="presentation" id="recipes">
      <a href="javascript:void(0)">Recipes</a>
    </li>
    <li role="presentation" id="comments">
      <a href="javascript:void(0)">Comments</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="annotation-feed annotations feed active">
    </div>
    <div class="recipe-feed recipes feed">
    </div>
  </div>
</div>
