<div class="form-group">
  <div class="comment error-container"></div>
  <textarea name="body"
            class="form-control"
            rows="3"
            placeholder="Add Comment"><%= comment.escape("body") %></textarea>
</div>

<button>Submit</button>
