<% var recipe = annotation.recipe() %>
<% var start_idx = annotation.escape("start_idx") %>
<% var end_idx = annotation.escape("end_idx") %>
<blockquote>
  <p><%= recipe.get("body").slice(start_idx, end_idx) %></p>
  <footer>
    <a href="#/recipes/<%= recipe.get("id") %>"><%= recipe.escape("title") %></a>
  </footer>
</blockquote>
<pre>
  <%= annotation.escape("body") %>
</pre>
