<h1>New Annotation</h1>

<div class"form-group">
  <textarea name="body"
            class="form-control"
            rows="5"
            placeholder="Body"><%= annotation.escape("body") %></textarea>
</div>

<br>
<button>Submit</button>
