<pre>
  <%= annotation.escape("body") %>
  <a class="upvote" aria-label="upvote" href="javascript:void(0)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <%= annotation.get("voteCount") %> <a class="downvote" aria-label="downvote" href="javascript:void(0)"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
</pre>

<div class="comments-container">
</div>
