<ul class="list-group">
  <% recipes.each(function(recipe) { %>
    <li class="list-group-item">
      <h3><a href="#/recipes/<%= recipe.get("id") %>">
        <%=recipe.escape("title")%>
      </a></h3>
    </li>
  <%  }) %>
</ul>
