<h1>New Recipe</h1>

<div class="form-group">
  <input type="text"
         name="title"
         class="form-control"
         placeholder="Title"
         value="<%= recipe.escape("title") %>">
</div>
<br>

<div class"form-group">
  <textarea name="body"
            class="form-control"
            rows="5"
            placeholder="Body"><%= recipe.escape("body") %></textarea>
</div>
<br>

<div class"form-group">
  <input type="text"
         name="image_url"
         class="form-control"
         value="<%= recipe.escape("image_url") %>"
         placeholder="Image URL">
</div>

<br>
<button>Submit</button>
