<div class="jumbotron welcome">
  <div class="welcome-content">
    <h1>Welcome to Chef Genius</h1>
    <p>Your recipes, annotated</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>
<div class="recipes">
</div>
