<h1><%= recipe.escape("title") %></h1>
<h2>Posted by <%= recipe.escape("author") %> </h2>
<a href="">Recipe Index</a>
<br>
<pre class="recipe-body col-md-6">
  <%= recipe.escape("body") %>
</pre>

<div class="annotation-container col-md-6">
</div>

<br>
