<div class="nav-overlap">
  <div class="jumbotron app-description">
    <div class="description">
      <p>Chef Genius is an app for annotating recipes, inspired by <a href="http://genius.com">Genius</a>.</p>
    </div>
  </div>
</div>
<div class="jumbotron contact-info">
  <div class="contact-content">
    <h2>About</h2>
    <p>Chef Genius was created by <a href="http://github.com/katamartin">Kata Martin</a>
      for her capstone project at <a href="http://appacademy.io">App Academy</a>.
      Kata is a software engineer in the San Francisco Bay Area.</p>
  </div>
</div>
